<div class="d-flex justify-content-center">
    <div class="w-25 shadow-lg m-2 p-2 border">
        <a href="/admin/users" class="btn btn-success">Return to Users List</a>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">ID:&nbsp;</div>{{userData.id}}
        </div>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">Username:&nbsp;</div>{{userData.username}}
        </div>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">Email:&nbsp;</div>{{userData.email}}
        </div>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">Phone Number:&nbsp;</div>{{userData.sdt}}
        </div>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">Address:&nbsp;</div>{{userData.dia_chi}}
        </div>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">Credit Card Number:&nbsp;</div>{{userData.atm}}
        </div>
        <div class="d-flex flex-row">
            <div class="font-weight-bold">Status:&nbsp;</div>{{#if userData.status}}
            Active
            {{else}}
            Ban
            {{/if}}
        </div>
        {{#if userData.status}}
        <button type="button" id="{{userData.id}}" class="btn btn-danger banButton mt-3">Ban User</button>
        {{else}}
        <button type="button" id="{{userData.id}}" class="btn btn-success banButton mt-3">Unban User</button>
        {{/if}}
    </div>
</div>

<script>
    $("button.banButton").click(function () {
        let id = $(this).attr("id");
        $.ajax({
            method: "POST",
            url: `/admin/users/${id}`,
            data: JSON.stringify({ id: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        })
            .done(function (msg) {
                window.location.href = "/admin/users";

            });
    });
</script>