<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each cartData}}
        <tr>
            <th scope="row">
                <div class="mt-2">{{this.id}}</div>
            </th>
            <td>
                <div class="mt-2">{{this.name}}</div>
            </td>
            <td>
                <div class="mt-2">{{this.price}}</div>
            </td>
            <td>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="number" name="quanlity" class="form-control" min="1" required
                            value="{{this.quanlity_bought}}" max="{{this.quanlity}}">
                        <div class="font-weight-bold">&nbsp;/ {{this.quanlity}}</div>
                    </div>
                </form>
            </td>
            <td><button class="btn btn-danger" type="button"><i class="fas fa-times"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    $("input[type=number]").blur(function () {
        let value = $(this).val();
        if (value === "") {
            $(this).val(1);
        }
    });
</script>