<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each ownedProduct}}
        <tr id="{{this.id}}">
            <th scope="row">
                <div class="mt-2">{{this.id}}</div>
            </th>
            <td>
                <div class="mt-2">{{this.name}}</div>
            </td>
            <td>
                <div class="mt-2">{{this.price}}</div>
            </td>
            <td>
                {{#if this.review_id}}
                <a class="btn btn-outline-success" href="/products/{{this.review_id}}/review/update">Edit Review</a>
                {{else}}
                <a class="btn btn-success" href="/products/{{this.id}}/review">Review</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>