<div class="d-flex justify-content-center">
    <form id="RegisterForm" class="shadow-lg m-a p-3 w-50 mt-3" method="POST" action="/users/{{userData.id}}/profiler/">
        <fieldset disabled="disabled">
            <div class="form-group">
                <label for="InputUsername">Username:</label>
                <input type="text" class="form-control" id="InputUsername" name="username"
                    value="{{userData.username}}">
            </div>
            <div class="form-group">
                <label for="Inputthumbnail">Email:</label>
                <input type="text" class="form-control" id="Inputthumbnail" name="email" value="{{userData.email}}">
            </div>
            <div class="form-group">
                <label for="Inputprice">Password:</label>
                <input type="Password" class="form-control" id="Inputprice" name="password"
                    value="{{userData.password}}">
            </div>
        </fieldset>
        <div class="form-group">
            <label for="InputUsername">Credit Card Number:</label>
            <input type="text" class="form-control" id="InputUsername" name="atm" value="{{userData.atm}}">
        </div>
        <div class="form-group">
            <label for="Inputthumbnail">Address:</label>
            <input type="text" class="form-control" id="Inputthumbnail" name="dia_chi" value="{{userData.dia_chi}}">
        </div>
        <div class="form-group">
            <label for="Inputprice">Phone Number:</label>
            <input type="text" class="form-control" id="Inputprice" name="sdt" value="{{userData.sdt}}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Update</button>
        </div>
        <div class="text-center p-3">
            <a href="/" class="btn btn-success">Cancel</a>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#RegisterForm').validate({
            rules: {
                sdt: {
                    number: true
                },
            },
            messages: {
                sdt: {
                    number: "Input must be a number"
                },
            },
            errorElement: 'small',
            errorClass: 'form-text text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>