<div>
    <div class="content shadow">
        <div class="d-flex flex-row border-bottom border-secondary pb-2">
            <div>
                <img class="Cover" src="{{data.thumbnail}}" />
                <div class="d-flex justify-content-center">
                </div>
            </div>

            <div class="Info-wrap">
                <div class="border-bottom pb-2 border-secondary">
                    <h4>{{data.name}}</h4>
                    <p class="d-flex flex-row">Seller: &nbsp;
                        <a href="/users/info/{{data.user_id}}" class="font-weight-bold Seller">{{data.username}}</a></p>
                    {{#if isLogin}}
                    <button class="btn  {{#if isOwned}}
                        btn-light
                    {{else}}
                        btn-success
                    {{/if}} " type="button" id="{{data.id}}" {{#if isOwned}} disabled {{/if}}><i
                            class="fas fa-cart-plus"></i></button>
                    {{/if}}
                    <div class="mt-2 mb-2">Quantity: {{data.quanlity}}</div>
                    <div class="d-flex flex-row">
                        <div class="stars-outer">
                            <div class="stars-inner" rating="4.07"></div>
                        </div>
                        <div>
                            <div>
                                &nbsp;(4.07) (5,781,007 ratings)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center border-bottom pb-2 border-secondary">
            <div class="Description">
                <div>
                    <h5>Description:</h5>
                </div>
                <div class="Text-Truncate book-description">
                    {{data.description}}
                </div>
                <div>
                    <button type="button" class="btn btn-light" onclick="SeeMore(event);">
                        More
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="reviews ">
            Reviews
        </div>
        {{#if userReview}}
        <div class="card w-100 mb-3 border border-warning">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <div>{{userReview.name}}</div>
                    <div>{{DateFormat userReview.date_review}}</div>
                </div>
                <div>
                    <div class="stars-outer">
                        <div class="stars-inner" rating="{{userReview.score}}"></div>
                    </div>
                </div>
            </div>
            {{#if userReview.content}}
            <div class="card-body">
                <p class="card-text">{{userReview.content}}
                </p>
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{#each otherReview}}
        <div class="card w-100 mb-3">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <div>{{this.name}}</div>
                    <div>{{DateFormat this.date_review}}</div>
                </div>
                <div>
                    <div class="stars-outer">
                        <div class="stars-inner" rating="{{this.score}}"></div>
                    </div>
                </div>
            </div>
            {{#if this.content}}
            <div class="card-body">
                <p class="card-text">{{this.content}}
                </p>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>


</div>

<script>
    $("button").click(function () {
        let idProduct = $(this).attr('id');
        $.ajax({
            method: "POST",
            url: `/products/${idProduct}`,
            data: JSON.stringify({ id: idProduct }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        })
            .done(function (msg) {
                console.log(msg);
            });

        $(this).attr("disabled", "disabled").addClass("btn-light").removeClass("btn-success");
    });
</script>